/*------------------------------------------------------------------*/
/*	x) General Elements
/*------------------------------------------------------------------*/

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../Fonts/CaviarDreams-webfont.eot');
    src: url('../Fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/CaviarDreams-webfont.woff') format('woff'),
        url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
        url('../Fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: url(../Images/tile_body.png) repeat;
    font-family: 'caviar_dreamsregular', 'Gill Sans', 'Gill Sans MT Light', 'Gill Sans MT', 'Segoe', 'Segoe UI', 'Roboto', 'Droid Sans', 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    line-height: 1.4;
}

a:link,
a:visited,
a:active {
    color: #fff;
    border: 0;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/*---   // General Elements    --*/


#contact-forms{
    width:100%;
    height:100%;
    clear:both;
    padding:4em;
}


/*------------------------------------------------------------------*/
/*	x) General Theme
/*------------------------------------------------------------------*/
.inline-link:active,
.inline-link:visited,
.inline-link:link {
    color: #388372;
    font-weight: bold;
}

#blackbar {
    width: 100%;
    height: 12px;
    background: #000000;
}

.body-wrapper {
    width: 100%;
    min-height: 800px;
    margin: 0;
    padding: 100px 0 0 0;
    display: block;
    background: url(../Images/sidetile_body.png) repeat-x;
}

.main {}

.page-title {
    background: #000;
    padding: 15px 0px 15px 20px;
    width: 95%;
    margin-left: -10px;
    color: #ddd;
    font-size: 1.8em;
}

.center {
    width: 100%;
    background: url(../Images/center-bg.png) repeat;
    height: auto;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* ??? Firefox */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* ??? Safari ? Chrome */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* ????????? ???? */
    padding: 9px 0;
}

.center-inner {
    border: 1px solid #FFF;
    height: auto;
    width: auto;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* ??? Firefox */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* ??? Safari ? Chrome */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* ????????? ???? */
    margin: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF url(../Images/contentbg.png) repeat;
    padding-bottom: 3em;
}

.center-inner p {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 1em;
    font-size: 1.2em;

}

.error {
    border: 1px solid #b14242;
    background: #efbcbc;
    color: #fff;
    padding: 0.5em;
}

/*---   // General Theme    --*/


/*------------------------------------------------------------------*/
/*	x) Navbar
/*------------------------------------------------------------------*/
.logo {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 0px;
    margin: 0;
}

.logo img {
    width: 90%;
    margin: auto;
}

.logo p {
    font-size: 15px;
    padding: 0 16px;
    color: #000;
    margin-top: -4px;
    line-height: 1.4em;
    text-align: center;
}

span.border {
    height: 2px;
    background: #bcbcbc;
    width: 90%;
    position: relative;
    display: block;
    margin: 15px 0;
}

span.border span {
    background: #272727;
    width: 50px;
    height: 2px;
    display: block;
}

#jump {
    z-index: 1000;
    background: #000 url(../images/downarrow.png) 95% 50% no-repeat;
    line-height: 24px;
    height: 24px;
    display: none;
    padding: 10px;
    margin: auto;
    text-align: left;
    font-size: 16px;
    color: #fff;
}

a#jump:hover {
    background: #333 url(../images/downarrow.png) 95% 50% no-repeat;
}

.nav {
    width: 100%;
    height: auto;
}

.nav > ul {
    margin: 5px 0 0 0;
}

.nav ul {
    list-style-type: none;
    padding: 0 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: right;
    width: 100%;
}

.nav ul li {
    height: auto;
    text-align: right;
    border-bottom: 1px solid #bcbcbc;
    padding: 5px 0;
}

.nav ul li a {
    text-decoration: none;
    text-align: right;
    color: #111;
    position: relative;
    line-height: 1.2em;
}

.nav ul li a:hover {
    color: #9b5264;
}

.nav ul li:nth-last-child(1) {
    border-bottom: none;
}

#nav-home {
    font-size: 19px;
    margin-left: 70px;
}

#nav-about {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
}

#nav-showcase {
    font-size: 18px;
    font-weight: bold;
    margin-left: 70px;
}

#nav-shop {
    font-size: 23px;
    font-weight: bold;
    margin-left: 100px;
}

#nav-contact {
    font-size: 15px;
}

/*---   //  NavBar      --*/


/*------------------------------------------------------------------*/
/*	x) FOOTER
/*------------------------------------------------------------------*/
.footer {
    background: #000;
    margin: 0;
    margin-top: 5em;
    margin-bottom: 7em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul.foot-social {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 21px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

ul.foot-social li {
    display: inline-table;
    margin: 8px 0 0 12px;
    padding: 0;
}

.foot-copyright {
    padding: 0;
    color: #959595;
    font-size: 13px;
    width: 100%;
}

.copyright {
    line-height: 4em;
    margin-left: 21px;
    color: #fff;
}


/*--- // Footer  --*/


/*------------------------------------------------------------------*/
/*	x) Front Page content
/*------------------------------------------------------------------*/

#frontpage-circles {
    width: 100%;
    margin: auto;
    margin-top: -90px;
}

.request-quote:hover,
.view-shop:hover,
.showcase-view-gallery:hover,
.showcase-arrow:hover {
    color: #222;
    text-decoration: none;
}

.frontpage-links {
    padding-top: 2em;
    text-align: right;
}

.request-quote {
    color: #fff;
    background: #388372;
    padding: 15px;
    font-size: 18px;
    margin: 0;
}

.view-shop {
    color: #fff;
    background: #9b475c;
    padding: 12px;
    margin-right: -10px;
    margin-top: 4px;
    margin-left: 0;
    font-size: 16px
}

.showcase-view-gallery {
    color: #fff;
    background: #9b475c;
    display: block;
    padding: 12px;
    float: right;
    margin-top: -30px;
    font-size: 16px
}

.showcase-arrow {
    color: #fff;
    background: #388372;
    display: block;
    padding: 12px;
    float: right;
    font-size: 10px;
    margin-top: -26px;
}

.showcase {
    margin: 0 10px;
    height: auto;
}

.showcase_img {
    width: 192px;
    height: 130px;
    background: #000;
    margin-left: 11px;
    margin-top: 11px;
    float: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.showcase-bg {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-height: 153px;
}

.showcase-title {
    margin-top: 20px;
    line-height: 50px;
}

.showcase-overlay {
    display: block;
    position: absolute;
    z-index: 100;
    color: #000;
    font-size: 90px;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 0px;
    opacity: 0.10;
}

.showcase_img {
    margin-left: 1%;
}

.showcase_img {
    width: 32%;
}

.showcase_img img {
    width: 100%;
    height: 130px;
}

/*--- // Front Page content  --*/


/*------------------------------------------------------------------*/
/*	x) GALLERY
/*------------------------------------------------------------------*/
.gallery-wrapper {
    background: #000 url("../images/magnifying-glass.png") center center no-repeat;
    display: block;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 10px;
    float: left;
}

.gallery-wrapper img {
    width: 100%;
	display: block;
	-webkit-transition: all ease 0.85s;
	transition: all ease 0.85s;
	opacity: 1;
}
.gallery-wrapper:hover img{	
    opacity: 0.45;
}


        
#pagination {
    border: 0;
    margin: 0;
    padding-left:1.5em;
    padding-top: 2em;
    text-transform: uppercase;
	clear:both;
	float:none;
}

#pagination li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
    margin-right: 8px;
}

#pagination a {
    border: solid 1px #000;
    margin-right: 8px;
    color: #000;
    font-weight: bold;
}

#pagination .previous-off,
#pagination .next-off {
    border: solid 1px #DEDEDE;
    color: #888888;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 8px;
    padding: 3px 4px;
}

#pagination .next a,
#pagination .previous a {
    font-weight: bold;
}

#pagination .active {
    background: #000;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
}

#pagination a:link,
#pagination a:visited {
    color: #000;
    display:block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

#pagination a:hover {
    border: solid 1px #9b5264;
    color: #9b5264;
}
/*~-- //Gallery --*/







/*------------------------------------------------------------------*/
/*	x) Media Queries
/*------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .main {
        margin-top: 7em;
    }

    .center-inner p {
        font-size: 1em;
    }

    .center-inner {
        padding-bottom: 5em;
    }

    #jump {
        width: 100%;
        padding: 2em !important;
        text-align: center;
        line-height: 0;
    }

    .nav ul {
        padding: 0;
        margin: 0;
    }

    .nav ul li a {
        clear:both;
        float:none;
        margin: 0 auto;
        text-align: center;
    }

    .nav ul li {
        margin: 0 auto;
    }

    .logo img {
        width: 80%;
    }

    .logo p {
        font-size: 12px;
    }

    #nav-home {
        font-size: 15px;
        margin: 0 auto;
    }

    #nav-about {
        font-size: 18px;
        margin: 0 auto;
    }

    #nav-showcase {
        font-size: 14px;
        margin: 0 auto;
    }

    #nav-shop {
        font-size: 19px;
        margin: 0 auto;
    }

    #nav-contact {
        font-size: 13px;
        margin: 0 auto;
    }

    .page-title {
        font-size: 21px;
        margin-left: 0;
    }

    .frontpage-links {
        text-align: left;
    }

    .request-quote,
    .view-shop,
    .showcase-view-gallery {
        font-size: 1em;
    }

    .showcase-arrow {
        font-size: 9px;
        margin-top: -27px;
    }

    .showcase_img {
        height: 80px;
    }

    .showcase_img img {
        width: 100%;
        height: 80px;
    }

    .showcase-bg {
        min-height: 100px;
    }

    .showcase-title {
        margin-top: 20px;
        line-height: 50px;
        font-size: 23px;
    }

    .showcase-overlay {
        font-size: 50px;
    }

    .footer {
        width: 100%;
        clear: both;
        margin-bottom: 2em;
    }

    .foot-copyright {
        width: 100%;
        font-size: 0.7em;
        padding-bottom: 2em;
        text-align: center;
    }

    .foot-copyright .copyright {
        float: none;
        margin: 0 auto;
    }

    ul.foot-social {
        clear: both;
        float: none;
        margin: 0 auto;
    }

    ul.foot-social li {
        display: inline-table;
        margin: 8px 10px 0 3px;
        padding: 0;
    }

    .error {
        font-size: 1.2em;
    }

}
